<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <form (ngSubmit)="createGame()">
    <ion-item>
        <ion-label>
            <h2>Crear partida</h2>
          </ion-label>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="model.name" required type="text" name="name" placeholder="Nombre de la partida"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Selecciona el juego</ion-label>
        <ion-select [(ngModel)]="model.game" name="game" interface="action-sheet" cancel-text="Cancelar">
          <ion-select-option value="{{game}}" *ngFor="let game of games">{{game.toLowerCase()}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-button block type="submit" shape="round" color="primary" fill="outline">Crear partida</ion-button>
      </ion-item>
    </form>
</ion-content>
<ion-content>
  <ion-item>
    <ion-label>
      <h2>Partidas recientes</h2>
    </ion-label>
  </ion-item>
  <ion-grid>
    <ion-card (click)="goToParty(party)" *ngFor="let party of parties.partyList.parties">
        <ion-card-header>
            <ion-card-title>{{party.name}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>The content for this card</p>
        </ion-card-content>
    </ion-card>
  </ion-grid>
</ion-content>
