<div class="form-container" >
  <form  [formGroup]="formGroup" class="player-form" novalidate>

  <!-- Cycle through all the inputs -->
  <ng-container *ngIf="controlsCreated" >

    <div *ngFor="let input of inputList.inputs; let i=index" [ngSwitch]="input.type">

        <input *ngSwitchCase="'checkbox'" 
            [name]="input.name" 
            type="checkbox" 
            [formControlName]="input.name" 
            [value]="input.value" 
            [ngStyle]="getInputPosition(input)">


        <input *ngSwitchCase="'radio'" 
            [name]="input.name" 
            type="radio" 
            [formControlName]="input.name" 
            [value]="input.value" 
            [ngStyle]="getInputPosition(input)">

        <!-- Insert an input accordingly and get the style/position from the component -->
        <input *ngSwitchDefault 
            [name]="input.name" 
            type="text" 
            [formControlName]="input.name" 
            [value]="input.value" 
            [ngStyle]="getInputPosition(input)">

    </div>
  </ng-container>
  </form>
</div>

