<ion-header>
  <ion-toolbar>
    <ion-title>players</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-segment (ionChange)="changePlayer($event)">
      <ion-segment-button *ngFor="let player  of players" [value]="player.id" [checked]="isCurrentPlayer(player.id)">
        {{player.name}} 
      </ion-segment-button>
  </ion-segment>

  <ion-fab vertical="top" horizontal="end" edge slot="fixed">
      <ion-fab-button (click)="addPlayer()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <app-character-sheet (loadedPDF)="onPDFLoaded($event)">
      <ng-container *ngIf="showForm" >
        <app-character-form [player]="playerModel" [formControls]="formControls"  [inputList]="inputs" ></app-character-form>
      </ng-container>
    </app-character-sheet>
</ion-content>
