<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>Partida {{party.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-segment (ionChange)="changePlayer($event)" *ngIf="players.length > 0">
      <ion-segment-button *ngFor="let player  of players" [value]="player" [checked]="isCurrentPlayer(player.id)">
        {{player.name}} 
      </ion-segment-button>
  </ion-segment>

  <ion-fab vertical="top" horizontal="end" edge slot="fixed">
      <ion-fab-button (click)="addPlayer()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="save()">
        <ion-icon name="document"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <app-character-sheet pdfSrc="{{ party.game }}" (loadedPDF)="onPDFLoaded($event)" [zoom]="zoom">
      <ng-container *ngIf="showForm" >
        <app-character-form [formGroup]="formGroup" [formControls]="formControls"  [inputList]="inputs" ></app-character-form>
      </ng-container>
    </app-character-sheet>
    <button mat-mini-fab (click)="zoomIn()">+</button>
    <button mat-mini-fab (click)="zoomOut()">-</button>

</ion-content>
